<div class="container mat-elevation-z8">
  <form class="form">
    <h1 class="fullWidth">Register New Project</h1>
    <img class="fullWidth" src="assets/img/area-create.jpg" alt="Create Project">

    <p>
      <mat-form-field class="fullWidth" appearance="fill">
        <mat-label>Name</mat-label>
        <input
        [(ngModel)]="project.name"
        name="firstName"
        [formControl]="name"
        required
        matInput
        placeholder="Ex:.Finances">
        <mat-icon matSuffix>work</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="fullWidth" appearance="fill">
        <mat-label>Start Date</mat-label>
        <input
        [(ngModel)]="startDate"
        name="startDate"
        [disabled]="true"
        required
        matInput
        placeholder="Ex:.2024-12-25" mask="0000-00-00">
        <mat-icon matSuffix>calendar_month</mat-icon>
      </mat-form-field>
    </p>

    <!--p>
      <mat-form-field class="fullWidth" appearance="fill">
        <mat-label>End Date</mat-label>
        <input
        [(ngModel)]="project.endDate"
        name="endDate"
        [formControl]="endDate"
        required
        matInput
        placeholder="Ex:.2024-12-25" mask="0000-00-00" [dropSpecialCharacters]="false">
        <mat-icon matSuffix>calendar_month</mat-icon>
      </mat-form-field>
    </p-->

    <p>
      <mat-form-field>
        <mat-label>End Date</mat-label>
        <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="project.endDate"
        [formControl]="endDate"
        required>
        <!--mat-hint>MM-DD-YYYY</mat-hint-->
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </p>

    <!--p>
      <mat-form-field class="fullWidth" appearance="fill">
        <mat-label>Area Id</mat-label>
        <input
        [(ngModel)]="project.area.id"
        name="area"
        type="number"
        [formControl]="area"
        required
        matInput
        placeholder="Ex:.1">
        <mat-icon matSuffix>crop</mat-icon>
      </mat-form-field>
    </p-->

    <p>
      <mat-form-field>
        <mat-label>Select Area</mat-label>
        <mat-select [(ngModel)]="project.area.id" name="area" [formControl]="area" required>
            <mat-option *ngFor="let area of areas" [value]="area.id">{{area.name}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <button (click)="create()" [disabled]="!validaCampos()" class="fullWidth mat-elevation-z4" mat-flat-button color="primary">Register</button>
    <button type="button" (click)="cancelar()" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Cancel</button>

  </form>
</div>
